.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
}

.App-header {
  background-color: white;
  height: 150px;
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #ebebeb;
}

.App-logo {
  background-color: #ebebeb;
  animation: App-logo-spin infinite 20s linear;
  height: 90px;
  }
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

.App-title {
  margin-top: 10px;
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
}

.Grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #ebebeb;
  width: 90%;
  height: 100%;
  margin: 0px 30px 30px 30px;
}

.Card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 0 15px 0 #CCC;
  background-color: #fff;
  color: black;
  font-family: 'Lora', serif;
  width: 350px;
  height: 200px;
  margin-bottom: 20px;
  padding: 30px 10px 30px 10px;
  cursor: pointer;
  font-size:1.3em;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
}

.Card .Photo-card {
  border-radius: 50%;
}

.Register-button {
  margin-bottom: 70px;
  width:200px;
  background: #3e9cbf; /*the colour of the button*/
  padding: 8px 14px 10px; /*apply some padding inside the button*/
  border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
  cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
/*style the text*/
  font-size:1.3em;
  font-family: 'Lora', serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/

  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
  color: #fff;
  box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
/*give the corners a small curve*/
  border-radius: 10px;
}

.Div-recipe-info {
  display: flex;
  
}

.Div-recipe-info .Div-photo-icons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 40px;
}

.Div-recipe-info .Div-photo-icons .Photo {
  display: flex;
  border-radius: 50%;
}

.Div-recipe-info .Div-title-text {
  display: flex;
  flex-direction: column;
  font-family: 'Lora', serif;
}

.Div-recipe-info .Div-title-text .Title {
  display: flex;
  justify-content: center;
  font-size: 3.5em;
  margin: 30px;
}

.Div-recipe-info .Div-title-text .Div-list-intructions {
  display: flex;
  flex-direction: row;
}

.Div-recipe-info .Div-title-text .Div-list-intructions .List {
  display: flex;
  width: 300px;
  height: 500px;
  margin-right: 20px;
}

.Div-recipe-info .Div-title-text .Div-list-intructions .Instructions {
  display: flex;
  width: 500px;
  height: 500px;
  text-align: justify;
}

.Div-recipe-info .Div-title-text .Buttons {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 10px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Lora, serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.Div-recipe-info .Close-button {
  color: #D5D5D5;
  text-align: center;
  font: 30px/100% arial, sans-serif;
  position: absolute;
  right: 10px;
  text-shadow: 0 50px 0 #fff;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor:pointer;
  margin-top: 10px;
}

.Div-recipe-info .Close-button:hover {
  color: gray;
}
