.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
}

.App-logo {
  background-color: #ebebeb;
  animation: App-logo-spin infinite 20s linear;
  height: 90px;
  }

.App-header {
  background-color: white;
  height: 150px;
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #ebebeb;
}

#title {
  margin-top: 10px;
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Div-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #ebebeb;
  width: 90%;
  height: 100%;
  margin: 0px 30px 30px 30px;
}

.Div-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 0 15px 0 #CCC;
  background-color: #fff;
  color: black;
  font-family: 'Lora', serif;
  width: 350px;
  height: 200px;
  margin-bottom: 20px;
  padding: 30px 10px 30px 10px;
  cursor: pointer;
  font-size:1.3em;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
}

.Div-card .Div-card_img-container {
  border-radius: 50%;
}

.Div-button {
  margin-bottom: 70px;
  width:200px;
  background: #3e9cbf; /*the colour of the button*/
  padding: 8px 14px 10px; /*apply some padding inside the button*/
  border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
  cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
/*style the text*/
  font-size:1.3em;
  font-family: 'Lora', serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/

  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
  color: #fff;
  box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
/*give the corners a small curve*/
  border-radius: 10px;
}
